<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867195273441-3n5sajvb0nmco8p2h79eupsadi3tttmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867195273441-3n5sajvb0nmco8p2h79eupsadi3tttmh</string>
	<key>API_KEY</key>
	<string>AIzaSyDSIlDu6_xYRi_7bv4eL5oHKIlB5UrlRvY</string>
	<key>GCM_SENDER_ID</key>
	<string>867195273441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>korp2003.Calculater</string>
	<key>PROJECT_ID</key>
	<string>firstdatabase-397f5</string>
	<key>STORAGE_BUCKET</key>
	<string>firstdatabase-397f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867195273441:ios:8dcd6e9cc430ae9b3577a0</string>
	<key>DATABASE_URL</key>
	<string>https://firstdatabase-397f5.firebaseio.com</string>
</dict>
</plist>